{% extends 'layout/base.html' %}

{% block title %}بازیابی رمز عبور{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 offset-md-4 border border-1 rounded p-3 animate__animated animate__backInDown">
            <form action="{% url 'reset-password' %}" method="post">
                {% csrf_token %}
                {{ form.email_active_code.label_tag }}
                {{ form.email_active_code }}
                {{ form.email_active_code.errors }}

                {{ form.password.label_tag }}
                {{ form.password }}
                {{ form.password.errors }}

                {{ form.confirm_password.label_tag }}
                {{ form.confirm_password }}
                {{ form.confirm_password.errors }}

                <button type="submit" class="btn btn-primary mt-2">بازیابی رمز عبور!</button>
            </form>
        </div>
    </div>
{% endblock %}