{% extends 'user_panel_module/user_panel.html' %}

{% block title %}تغییر رمز عبور{% endblock %}

{% block main %}
    <form action="{% url 'user-edit-password' %}" method="post">
        {% csrf_token %}

        {{ form.old_password.label_tag }}
        {{ form.old_password }}
        {{ form.old_password.errors }}
        {{ form.new_password.label_tag }}
        {{ form.new_password }}
        {{ form.new_password.errors }}
        {{ form.confirm_password.label_tag }}
        {{ form.confirm_password }}
        {{ form.confirm_password.errors }}

        <input type="submit" class="btn btn-warning btn-margin mt-2" value="ثبت">
    </form>
{% endblock %}